
{% extends 'backBase.html.twig' %}
                        {% block body %}
                            <h1>Reclamation</h1>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                            <table class="table">
                                <tbody>

                                <tr>
                                    <th>DateReclamation</th>
                                    <td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>EmailReclamation</th>
                                    <td>{{ reclamation.emailReclamation }}</td>
                                </tr>
                                <tr>
                                    <th>DesriptionReclamation</th>
                                    <td>{{ reclamation.desriptionReclamation }}</td>
                                </tr>
                                <tr>
                                    <th>EtatReclamation</th>
                                    <td>{{ reclamation.etatReclamation }}</td>
                                </tr>
                                <tr>
                                    <th>nomuser</th>
                                    <td>{{ reclamation.nomuser }}</td>
                                </tr>
                                </tbody>
                            </table>

                <br> <br>
                <style>

                    .a,.b {
                        background-color: #cf245f;
                        background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
                        border: 0;
                        border-radius: .25rem;
                        box-sizing: border-box;
                        color: #fff;
                        cursor: pointer;
                        font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        font-size: 1rem; /* 18px */
                        font-weight: 600;
                        line-height: 1.75rem; /* 28px */
                        padding: 1rem 1.25rem;
                        text-align: center;
                        user-select: none;
                        -webkit-user-select: none;
                        touch-action: manipulation;
                    }

                    .button-76:hover {
                        box-shadow: none;
                    }

                    @media (min-width: 1024px) {
                        .button-76 {
                            font-size: 1.5rem; /* 24px */
                            padding: 1rem 1.5rem;
                            line-height: 2rem; /* 32px */
                        }
                    }

                </style>


                          <!--   <a class = "a" href="{{ path('reclamation_edit', {'idReclamation': reclamation.idReclamation}) }}">edit</a>-->


                            {{ include('reclamation/_delete_form.html.twig') }}
                            <br><br>
                            <a class="b" href="{{ path('reclamation_index') }}">back to list</a>

            </div>
        </div>
    </div>
</div>
                            <br>                             <br>
                            <br>

                        {% endblock %}
