{% extends 'base.html.twig' %}

{% block title %}Chauffeur{% endblock %}

{% block body %}
    <h1>Chauffeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chauffeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chauffeur.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ chauffeur.email }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{{ chauffeur.dob }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ chauffeur.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chauffeur_index') }}">back to list</a>

    <a href="{{ path('app_chauffeur_edit', {'id': chauffeur.id}) }}">edit</a>

    {{ include('chauffeur/_delete_form.html.twig') }}
{% endblock %}
