<div class="col-lg-12 grid-margin stretch-card-dark">
                    <div class="card-dark">
                        <div class="card-body-dark">
                            <div class="table-responsive-dark">
                                <table class="table table-striped-dark ">
                                    <thead>
                                    <tr>
                                        <th> Picture </th>
                                        <th> ID </th>
                                        <th> depart vol </th>
                                        <th> destiny </th>
                                        <th> Date Depart Vol  </th>
                                        <th> Date Retour Vol </th>
                                        <th> Nb Escales Vol </th>
                                        <th> prix </th>
                                      
                                    </tr>
                                    </thead>
                                    <tbody>
                                 {% for Vol in Vols %}
                                    <tr onclick="">
                                        <td class="py-1">
                                        
                                            <img src="{{ asset('back/images/faces-clipart/pic-1.png') }}" alt="image" />
                                        </td>
                                        <th> {{Vol.getIdVol}} </th>
                                        <td> {{Vol.getDepartVol}} </td>
                                        <td> {{Vol.getDestinationVol}} </td>
                                        <td> {{Vol.getDateDepartVol|date('d-m-Y')}} </td>    
                                        <td> {{Vol.getDateRetourVol|date('d-m-Y')}} </td>
                                        <td> {{Vol.getNbEscalesVol}} </td>
                                        <td> {{Vol.getPrixVol}} </td>

                                                          <td> <a class="" href="{{ path('admin_Vol_edit',{'id': Vol.getIdVol}) }}">
                                                <i class="mdi mdi-pencil"></i>
                                            </a></td>

                                            <td> <a class="" href="{{ path('admin_Vol_delete',{'id':Vol.getIdVol})}}">
                                                <i class="mdi mdi-delete-forever"></i>
                                            </a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>