{% extends 'backBase.html.twig' %}
{% block body %}
    <h1>GuideTouristique index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Diplome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guide_touristique in guide_touristiques %}
            <tr>

                <td>{{ guide_touristique.nom }}</td>
                <td>{{ guide_touristique.prenom }}</td>
                <td>{{ guide_touristique.adresse }}</td>
                <td>{{ guide_touristique.telephone }}</td>
                <td>{{ guide_touristique.email }}</td>
                <td>{{ guide_touristique.diplome }}</td>
                <td>
                    <a href="{{ path('app_guide_touristique_show', {'idGuide': guide_touristique.idGuide}) }}">show</a>
                    <a href="{{ path('app_guide_touristique_edit', {'idGuide': guide_touristique.idGuide}) }}">edit</a>
                    <a href="{{ path('app_guide_touristique_new') }}">Create new</a>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_guide_touristique_new') }}">Create new</a>
{% endblock %}
