{% extends 'base.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-md-5">
    <div class="card">
    <div class="card-header">{{'Rénitialiser mot de passe'|trans }}</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                {{ form_start(form) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}

                <button type="submit" class="btn btn-default  btn-primary" formnovalidate>{{ 'Confirmer'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div>
{% endblock %}


